#content {
    height: calc(100vh - 169px);
}

.titleCatalog {
    font-size: 30px;
    padding: 27px 10px;
}

input, select {
    padding: 7px 15px;
    margin: 5px;
    flex: 1 1 auto;
    border: 1px solid #888;
    border-radius: 22px;
    box-shadow: 0 0 0 0;
    outline: 0;
    -webkit-appearance: none;

    &:focus {
        border: 1px solid $color-additional;
        background-color: #f3f3f3;
    }
}

::-webkit-input-placeholder {
    color: #555;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #555;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #555;  
 }
 
 :-ms-input-placeholder {  
    color: #555;  
 }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset !important;
}

.select::before, .select::after{
    content: "";
    position: absolute;
    top: 50%;
    border-top: 2px solid blue;
    width: 10px;
}
 
.select::before{
    right: 26px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
 
.select::after{
    right: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.filters .container {
    display: flex;
    flex-direction: column;
}

.rowForm {
    display: flex;
    justify-items: center;
}

form {
    width: 100%;
}

.btnPesquisar {
    padding: 10px 50px;
    height: 39px;
    margin: 5px;
    color: #fff;
    border: 1px solid $color-primary;
    background-color: $color-primary;
    border-radius: 22px;

    &:hover {
        text-decoration: none;
        color: #fff;
        background-color: $color-additional;
        border: 1px solid $color-additional;
    }
}

.resultItens {
    overflow: scroll;

    .container {
        height: calc(100vh - 315px);
        flex-wrap: wrap;
    }

    .card {
        display: flex;
        flex-direction: row;
        min-width: 540px;
        height: 150px;
        max-width: 47%;
        padding: 10px;
        margin: 10px;
        border: 1px solid #888;
        border-bottom: 3px solid $color-primary;
        cursor: pointer;

        &:hover {
            background-color: #f5f5f5;
        }

        .img {
            width: 190px;
    
            img {
                width: 190px;
                mix-blend-mode: darken;
            }
        }

        .cardRow {
            padding: 3px;
            margin-left: 18px;
        }

        .cardCod {
            font-size: 17px;
            font-weight: 600;
            color: $color-additional;
            margin-top: 10px;
        }

        .cardDesc {
            font-size: 15px;
            font-weight: 500;
            color: #000;
        }

        .cardLinha, .cardMed, .cardMont {
            font-size: 14px;
            color: #000;
        }

        span {
            font-size: 14px;
            font-weight: 400;
            color: #666;
        } 
    }

    .noCard {
        margin: 0 auto;
    }
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    justify-content: center;
    align-items: center;
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    -o-animation: fadein 0.5s; /* Opera */
    
    .modalProd {
        background-color: #fff;
        width: 900px;
        border-radius: 8px;
        margin: 20px;
        flex-direction: column;

        .legenda {
            color: #777;
            font-size: 14px;
            padding: 5px 0 3px 0;
        }

        .content {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            height: 440px;
            align-items: flex-start;

            .img {
                margin: 40px 0;
                width: 50%;
                height: 440px;

                img {
                    width: 100%;
                    margin-top: 20px;
                }
            }

            .header {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 50%;
                height: 60px;

                .closeBtn {
                    width: 28px;
                    margin-right: 20px;
                    opacity: 0.5;
                    cursor: pointer;

                    &:hover {
                        opacity: 1.0;
                    }
                }

            }
            
            .cod, .desc, .med {
                height: 55px;
                width: 50%;

                .codigo {
                    font-size: 28px;
                    font-weight: 600;
                    color: $color-additional;
                }

                .descricao {
                    font-size: 21px;
                    font-weight: 600;
                }

                .medidas {
                    font-size: 16px;
                    font-weight: 600;
                }
            }

            .ref {
                height: 200px;
                width: 50%;
                overflow: auto;
            }
        }

        table {
            width: calc(100% - 20px);
        }

        th {
            font-weight: 500;
            padding: 6px 0;
            padding-left: 8px;
            background-color: #dde2e1;
            border-bottom: 1px solid #afafaf;
        }
        
        td {
            color: #333;
            font-size: 14px;
            padding: 6px 0;
            padding-left: 8px;
            border-bottom: 1px solid #ccc;
        }
        
        .table tbody tr:nth-child(even) {
            background-color: #fff;
        }
        
        .table tbody tr:nth-child(odd) {
            background-color: #f0f7f4;
        }

        .aplic {
            .legenda {
                margin-left: 20px;
                margin-top: 25px;
            }

            .aplics {
                height: 205px;
                overflow: auto;
                margin-bottom: 50px;
    
                table {
                    width: calc(100% - 40px);
                    margin-left: 20px;
                }
            }
        }
    }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}