#content {
    height: calc(100vh - 169px);
}

.titleCatalog {
    font-size: 30px;
    padding: 27px 10px;
}

input, select {
    padding: 7px 15px;
    margin: 5px;
    flex: 1 1 auto;
    border: 1px solid $color-primary;
    border-radius: 22px;
    box-shadow: 0 0 0 0;
    outline: 0;
    -webkit-appearance: none;


    &:focus {
        border: 1px solid $color-additional;
        background-color: #f3f3f3;
    }
}
    
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset !important;
}

.select::before, .select::after{
    content: "";
    position: absolute;
    top: 50%;
    border-top: 2px solid blue;
    width: 10px;
}
 
.select::before{
    right: 26px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
 
.select::after{
    right: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.filters .container {
    display: flex;
    flex-direction: column;
}

.rowForm {
    display: flex;
    justify-items: center;
}

form {
    width: 100%;
}

.btnPesquisar {
    padding: 10px 50px;
    height: 39px;
    margin: 5px;
    color: #fff;
    border: 1px solid $color-primary;
    background-color: $color-primary;
    border-radius: 22px;

    &:hover {
        text-decoration: none;
        color: #fff;
        background-color: $color-additional;
        border: 1px solid $color-additional;
    }
}

.resultItens {
    
    overflow: scroll;
    .container {
        height: calc(100vh - 315px);
        flex-wrap: wrap;
    }

    .card {
        display: flex;
        flex-direction: row;
        min-width: 540px;
        height: 150px;
        padding: 10px;
        margin: 10px;
        border: 1px solid $color-grey-layout;
        border-bottom: 3px solid $color-primary;
        cursor: pointer;

        &:hover {
            background-color: #f5f5f5;
        }

        .img {
            width: 190px;
    
            img {
                width: 100%;
                mix-blend-mode: darken;
            }
        }

        .cardRow {
            padding: 3px;
            margin-left: 18px;
        }

        .cardCod {
            font-size: 17px;
            font-weight: 600;
            color: $color-primary;
            margin-top: 10px;
        }

        .cardDesc {
            font-size: 16px;
            font-weight: 500;
            color: $color-primary;
        }

        .cardLinha, .cardMed, .cardMont {
            font-size: 14px;
            color: #000;
        }

        span {
            font-size: 14px;
            font-weight: 400;
            color: #666;
        } 
    }

    .noCard {
        margin: 0 auto;
    }

}

