// Tamanho conteúdo
$c-width: 1140px;

// Institutional Colors 
$color-primary: #02774b;
$color-additional: #144735;
$color-grey-additional: #222;


// Colors Layout
$color-text: #000;
$color-grey-layout: #ccc;