#about {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.imgSobre {
    max-width: 50%;
    align-self: center;
    margin-bottom: 80px;
}

@media (max-width: 700px) 
{
    #about img {
        max-width: 100%;
    }
}