#catalog {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    border-top: 1px solid #dcdcdc;

    .divImage {
        display: flex;
        justify-content: center;
        align-items: center;

        .ilustrativa {
            width: 60%;
        }
    }
}

.catalogLinks {
    display: flex;

    div {
        text-align: center;
        padding: 13px 0;
        flex: 1 1 50px;
    }
}

@media (max-width: 700px) 
{
    .catalogLinks 
    {
        flex-direction: column;
        
        div {
            flex: 0 0 auto;
        }
    }
}

.links {
    background-color: $color-primary;
    background-image: linear-gradient(to bottom right, $color-additional, $color-primary);
    align-self: center;
}

.linksStores {
    display: flex;
    justify-content: center;

    div {
        display: flex;
        margin: auto 0;
    }

    div:nth-child(1) {
        justify-content: flex-end;
    }

    div:nth-child(2) {
        justify-content: flex-start;
    }
}

.store-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.8;
    letter-spacing: 0.5px;
    padding: 0px 20px 0px 20px;
    color: #fff;
    max-width: $c-width;
    align-self: center;
}



.andStore, .iosStore {
    width: 120px;
    height: 40px;
    margin: 8px;
}