#contact {
    background-color: $color-primary;
    margin: 0 auto;
    height: 220px;

    
    .container {
        justify-content: space-between;
        
        h4 {
            padding: 20px 0;
            font-size: 18px;
        }

        p {
            color: #fff;
            font-size: 15px;
            padding: 4px 0;
        }
    }

    .social {
        ul {
            display: inline-flex;

            li {
                padding: 15px;

                a {
                    color: #fff;
                    font-size: 20px;
                }
            }
        }
    }

    h4 {
        font-size: 16px;
        color: #fff;
        font-weight: 500;
    }

    button {
        padding: 10px 23px;
        font-size: 17px;
        border: 2px solid $color-additional;
        border-radius: 0 20px 20px 0;
        margin-left: -4px;
        color: #fff;
        background-color: $color-additional;
        cursor: pointer;
    }

}

input#newslatter {
    margin-top: 10px;
    font-size: 17px;
    padding: 10px 19px;
    border-radius: 20px 0 0 20px;
    border: none;
    width: 250px;
    margin: 30px 0;
    border: 2px solid #fff;
    
    &:focus {
        box-shadow: 0 0 0 0;
        border: 2px solid $color-additional;
        outline: 0;
    }
}