#contact {
    background-color: $color-primary;
    background-image: linear-gradient(to bottom right, $color-additional, $color-primary);
    margin: 0 auto;
    height: 220px;

    
    .container {
        justify-content: space-between;
        
        h4 {
            padding: 20px 0;
            font-size: 18px;
        }

        p {
            color: #fff;
            font-size: 15px;
            padding: 4px 0;
        }
    }

    .social {
        ul {
            display: inline-flex;

            li {
                padding: 15px;

                a {
                    color: #fff;
                    font-size: 20px;
                }
            }
        }
    }

    h4 {
        font-size: 16px;
        color: #fff;
        font-weight: 500;
    }
}
