#news {
    display: flex;
    flex-direction: column;
    align-content: center;
    border-top: 1px solid #dcdcdc;

    div {
        flex: 1 1 auto;
    }

    .container {
        margin-bottom: 40px;
        display: flex;
    }

    .btnBlog {
        width: 350px;
        border: 1px solid $color-additional;
        color: $color-additional;
        margin: 0 auto;
        margin-bottom: 35px;

        &:hover {
            color: #fff;
        }
    }
}

.card {
    text-align: center;
    border: 1px solid #eaeaea;
    margin: 10px 8px;
    flex-wrap: 1;

    .img {
        
        height: 180px;
        background-repeat: no-repeat;
        
    }

    img {
        width: 100%;
    }

    .header {
        color: $color-additional;
        padding-top: 25px;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .body {
        font-size: 14px;
        padding: 12px;
        color: #333;
        font-weight: 200;
    }

    .date {
        font-size: 13px;
        color: #777;
    }

    a {
        padding: 6px;
        width: 120px;
        margin: 10px;
        margin: 22px auto 25px auto;
        font-size: 13px;
    }
}