#sale {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #dcdcdc;
    background-color: #f3f3f3;

    .section-text {
        padding: 50px 30px 0px 30px;
    }

    h2 {
        color: #144735;
    }
}

.repreDados {
    display: flex;

    div {
        text-align: center;
        padding: 30px 0;
        flex: 1 1 170px;
        width: 50%;
    }
}

.repreBanner {
    display: flex;
    width: 80%;
    height: 120px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    margin: 0 auto;
    padding: 15px 8px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    background-color: #dcdcdc;

    p {
        padding: 2px;
        font-size: 18px;
        color: #555;
    }
}

.pRepreDados {
    padding: 7px 30px 18px 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.8;
    letter-spacing: 0.5px;
    padding: 10px 30px 10px 30px;
    color: #222;
    max-width: 1140px;
    text-align: center;
    align-self: center;
}

.content-map {
    display: flex;
    justify-content: center;
}

.map-repre {
    min-width: 100%;
}

.uf {
    fill: #02774b;
    stroke: #fff;
    stroke-width: 2;
    cursor: pointer;

    &:hover {
        fill: #144735;
        stroke: #fff;
        stroke-width: 2;
    }
}

.uf-tw {
    fill: #fff;
    cursor: pointer;
}

.uf-tg {
    fill: #555;
}

.cardRepre {
    width: 80%;
    height: 120px;
    border: 1px solid #dcdcdc;
    border-left: 5px solid #02774b;
    border-radius: 0px 8px 8px 0;
    margin: 0 auto;
    padding: 15px 8px;
    margin-top: 10px;
    text-align: left;

    p {
        padding: 2px;
        font-size: 14px;

        span {
            color: #555;
        }
    }

    p:nth-child(1) {
        color: #144735;
        padding: 1px;

    }

    p:nth-child(2) {
        padding: 1px;
    }
}
