#slider {
    .owl-carousel {
        .item {
            height: 550px;
            width: 100%;
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            border-bottom: 4px solid $color-primary;
        }
    }

    button.owl-dot {
        outline: none;
    }

    .contentText {
        padding: 30px;
    }

    .contentImage {
        padding: 30px;
    }

    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: $color-primary;
    }

    .container {
        height: 100%;
        display: flex;
        align-items: center;

        img {
            width: 640px;
            margin-right: -30px;
        }

        h2 {
            font-size: 35px;
            text-transform: uppercase;
            background-color: $color-primary;
            padding: 12px 25px;
            font-weight: 500;
            transform: skew(-10deg);
        }

        p {
            font-size: 20px;
            color: #fff;
            padding: 15px;
            line-height: 23px;
            font-weight: 300;
        }

        button {
            font-size: 18px;
            color: #fff;
            border: 1px solid $color-additional;
            border-radius: 30px;
            padding: 12px 30px;
            background-color: $color-additional;
        }
    }    
}

@media (max-width: 850px) {
    #slider {
        .container {
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        .contentText {
            width: 85%;
            text-align: center;
            padding: 0;
        }
        
        .contentImage {
            display: none;
        }
    }
}

@media (max-width: 1000px) {
    #slider {
        .contentText {
            width: 70%;
        }

        .contentImage {
            width: 450px;
            margin-left: -100px;
        }
        
    }
}